# An example file for command line exports
# The intention of this file is to be duplicated as a `.env` file with valid
# exports defined.

# PORT, in some flavor, is often required by hosting platforms
export PORT=5000
